<app-navbar></app-navbar>

<div class="filter-container">
  <h1 class="text-light">Paquetes</h1>
  <!-- Precio Mínimo -->
  <div class="filter-item">
    <span class="filter-label">Precio Mínimo</span>
    <input id="precioMin" type="number" [(ngModel)]="precioMin" class="filter-input" placeholder="$0">
  </div>

  <!-- Precio Máximo -->
  <div class="filter-item">
    <span class="filter-label">Precio Máximo</span>
    <input id="precioMax" type="number" [(ngModel)]="precioMax" class="filter-input" placeholder="$1000">
  </div>

  <!-- Fecha Desde -->
  <div class="filter-item">
    <span class="filter-label">Fecha de Salida</span>
    <input id="fechaDesde" type="date" [(ngModel)]="fechaDesde" class="filter-input">
  </div>

  <!-- Botón de búsqueda -->
  <button class="search-button bi bi-search" (click)="buscarPorFiltros()">Buscar Paquetes</button>

</div>



<div class="container mt-4">
  <!-- Resultados -->
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let paquete of paquetes">
      <div class="card flight-card" (click)="getPaquete(paquete.id)">
        <img
          src="https://img.freepik.com/foto-gratis/pareja-tiro-medio-mochila_23-2148966592.jpg"
          alt="Imagen del hotel"
          class="card-img-top flight-image">
        <div class="card-body">
          <h5 class="card-title text-center">{{ paquete.nombrePaquete }}</h5>
          <p class="card-text text-center">
            <strong>Servicios incluidos:</strong> {{ paquete.serviciosIncluidos }}<br>
            <strong>Destino:</strong> {{ paquete.destino }}<br>
            <strong>Precio:</strong> ${{ paquete.precio }}<br>
            <strong>Fecha de Salida:</strong> {{ paquete.fechaSalida  }}
          </p>
        </div>
      </div>
    </div>
    <!-- Mensaje si no hay resultados -->
    <div *ngIf="paquetes.length == 0" class="col-12 text-center">
      <p>No se encontraron hoteles con los criterios seleccionados.</p>
    </div>
  </div>
</div>

