<nav class="navbar bg-light">
  <div class="container">
    <!-- Alojamientos -->
    <a class="navbar" href="#">
      <div class="nav-icon-text">
        <i class="bi bi-house"></i>
        <span>Alojamientos</span>
      </div>
    </a>
    <!-- Vuelos -->
    <a class="navbar" href="#">
      <div class="nav-icon-text">
        <i class="bi bi-airplane"></i>
        <span>Vuelos</span>
      </div>
    </a>
    <!-- Paquetes -->
    <a class="navbar" href="#">
      <div class="nav-icon-text">
        <i class="bi bi-suitcase-lg"></i>
        <span>Paquetes</span>
      </div>
    </a>
    <div class="user-container">
      <i class="bi bi-person-circle"></i>
      <span>{{this.user}}</span>
    </div>
  </div>
</nav>
