<nav class="navbar bg-light">
  <div class="container">
    <!-- Inicio -->
    <!-- Alojamientos -->
    <a class="navbar" (click)="navigateTo('/alojamientos')">
      <div class="nav-icon-text">
        <i class="bi bi-house"></i>
        <span>Alojamientos</span>
      </div>
    </a>
    <!-- Vuelos -->
    <a class="navbar"  (click)="navigateTo('/vuelos')">
      <div class="nav-icon-text">
        <i class="bi bi-airplane"></i>
        <span>Vuelos</span>
      </div>
    </a>
    <!-- Paquetes -->
    <a class="navbar" (click)="navigateTo('/paquetes')">
      <div class="nav-icon-text">
        <i class="bi bi-suitcase-lg"></i>
        <span>Paquetes</span>
      </div>
    </a>
    <a class="navbar" (click)="navigateTo('/carrito')">
      <div class="nav-icon-text">
        <i class="bi bi-cart"></i>
        <span>Carrito</span>
      </div>
    </a>
    <div class="user-container" *ngIf="this.cuenta == false" (click)="navigateTo('/login')">
      <i class="bi bi-person-circle"></i>
      <span>{{this.user}}</span>
    </div>
    <div class="user-container" *ngIf="this.cuenta == true" (click)="navigateTo('/cuenta')">
      <i class="bi bi-person-circle"></i>
      <span>{{this.user}}</span>
    </div>
  </div>
</nav>
