<div class="opiniones-container">
  <div class="opinion-card" *ngFor="let resenia of resenias">
    <div class="opinion-header">
      <span class="opinion-date">
        {{ resenia.fecha | date: 'dd/MM/yyyy' }}
      </span>
      <span class="opinion-rating">
        Calificación: {{ resenia.calificacion }}/5
      </span>
    </div>
    <div class="opinion-body">
      <p>{{ resenia.comentario }}</p>
    </div>
    <div class="opinion-footer">
      <span>ID Producto: {{ resenia.idProducto }}</span>
    </div>
  </div>
</div>
