.card {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.bg-soft-red {
  background-color: #f8d7da; /* Rojo claro */
  color: #721c24;           /* Texto en tono rojizo */
  border: 1px solid #f5c6cb; /* Borde suave */
}
