<app-navbar></app-navbar>
<div class="container">
  <!-- Detalles del vuelo -->
  <div class="flight-header">
    <img
      src="https://images.trvl-media.com/lodging/26000000/25190000/25182500/25182437/b2333048.jpg?impolicy=resizecrop&rw=575&rh=575&ra=fill"
      alt="Avión"
      class="flight-image"
    />
    <h1 class="titulo">Detalle del Hotel</h1>
  </div>
  <div *ngIf="hotel" class="flight-details">
    <div *ngIf="hotel.numEstrellas > 0" class="text-center">
      <ng-container *ngFor="let estrella of [].constructor(hotel.numEstrellas)">
        <i class="bi bi-star-fill text-warning"></i>
      </ng-container>
    </div>
    <p><strong>Nombre:</strong> {{ hotel.nombreHotel }}</p>
    <p><strong>País:</strong> {{ hotel.pais }}</p>
    <p><strong>Ciudad:</strong> {{ hotel.ciudad }}</p>
    <p><strong>Habitació:</strong> {{ hotel.tipoHabitacion }}</p>
    <p><strong>Direccion:</strong> {{ hotel.direccion }}</p>
    <p><strong>Precio por noche:</strong> ${{ hotel.precioNoche }}</p>
    <div *ngIf="hotel.serviciosAdicionales.length > 0">
      <h6>Servicios Adicionales</h6>
      <ul>
        <li *ngFor="let servicio of hotel.serviciosAdicionales">
          {{ servicio.nombreServicio }}
          <br />
          {{ servicio.categoriaServicio }}
          <br />
          {{ servicio.descripcion }}
        </li>
      </ul>
    </div>
    <button class="book" (click)="guardar(hotel, 'hotel')">Guardar en el carrito</button>
  </div>
</div>

<div class="comments-container" *ngIf="resenias.length > 0">
  <h2>Comentarios</h2>
  <div class="comment-card" *ngFor="let resenia of resenias">
    <div class="comment-card">
      <div class="comment-header">
        <div
          class="rounded-circle bg-secondary text-white d-flex justify-content-center align-items-center"
          alt="Avatar"
          class="avatar"
        >
          <i class="bi bi-person fs-3"></i>
        </div>
        <span class="comment-author">{{ resenia.usuario.nombre }}</span>
        <span class="comment-date">{{ resenia.fecha | date : "short" }}</span>
      </div>
      <div class="comment-rating">
        <span
          *ngFor="let star of [1, 2, 3, 4, 5]"
          [class.filled]="star <= resenia.calificacion"
        >
          ★
        </span>
        <span class="rating-value">({{ resenia.calificacion }}/5)</span>
      </div>
      <p class="comment-text">{{ resenia.comentario }}</p>
    </div>
  </div>
</div>
<div class="comments-container">
  <div class="star-rating">
    <i
      class="bi bi-star-fill"
      *ngFor="let star of stars; let i = index"
      [ngClass]="{ selected: i < nuevaCalificacion }"
      (click)="seleccionarCalificacion(i + 1)"
    >
    </i>
  </div>
  <div class="comment-form">
    <textarea
      placeholder="Escribe tu comentario aquí..."
      [(ngModel)]="nuevoComentario"
    ></textarea>
    <button (click)="enviarResenia()">Enviar</button>
  </div>
</div>
